.container{
  margin-left: 50px;
  margin-right: 50px;
}
.headr img {
  float: left;
  width: 100px;
  height: 100px;
}

.headr h1 {
  text-align: center;
  position: relative;
}
.headr h2 {
  text-align:center;
  position: relative;
}
.box{
  margin-right: 80%;
  background-color: grey;
  text-align: center;
}

.form{
  margin-left: 50px;
  margin-right: 50px;
}

#right{
  float:right;
}
#left{
  float:left;
}
